DATABASE_URL="postgresql://quizzy:change_me@127.0.0.1:5433/quizzy?schema=public"
JWT_SECRET="replace-with-at-least-32-random-characters"
PORT=3000
CLIENT_URL="http://localhost:5173"
NODE_ENV="development"
